#chart {
	stroke: black;
}

body {
	font: 10px sans-serif;
	margin: 0;
}

path.line {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

path.area {
	fill: #e7e7e7;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: #ccc;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis path {
	display: none;
}

.xAxisSlider {
	width: 820px;
	margin: 20px 0 0 60px;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

#stock path {
	fill: rgba(200, 200, 200, 0.5);
}