body {
	font: 10px sans-serif;
	margin: 0;
	padding: 30px;
	background: rgb(245, 245, 245);
}
svg {
	background: #ffffff;
}

/**
* Layout stuff
*/

.primary {
	width: 66%;
	display: inline-block;
}
.secondary {
	width:33%;
	display: inline-block;
}


path.line {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

path.area {
	fill: #e7e7e7;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: #ccc;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis path {
	stroke: black;
	fill: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

#stock path {
	fill: rgba(200, 200, 230, 0.5);
	stroke: rgba(180, 180, 180, 0.5);
}

/**
* Controls for the graph
*/


.xAxisSlider {
	width: 660px;
	margin: 20px 0 0 20px;
}
.xAxisSlider .ui-slider-range {
	background-image: none;
	background: rgba(200, 200, 230, 1);
}
.xAxisSlider .ui-slider-handle {
	outline: none;
}
.xAxisSlider .ui-state-active {
	background-color: #000;
}