.xAxisSlider {
	width: 660px;
	margin: 20px 0 0 20px;
}
.xAxisSlider .ui-slider-range {
	background-image: none;
	background: rgba(200, 200, 230, 1);
}
.xAxisSlider .ui-slider-handle {
	outline: none;
}
.xAxisSlider .ui-state-active {
	background-color: #000;
}

.options {
	background: #fff;
	padding: 20px;
}

.options h2 {
	margin-top: 0;
}
.options h3 {
	cursor: pointer;
	padding: 0 0 0 16px;
	background: url(img/optionsInactive.png) no-repeat 0px 0px;
}
.options h3.active {
	background: url(img/optionsActive.png) no-repeat 0px 0px;
}
.options section {
	border-bottom: 1px solid #ccc;
	padding: 20px 0 0 0;
}
.options .ui-button {
	margin-bottom: 20px;
}
.options .slider {
	display: none;
}
.options .ui-slider {
	margin-bottom: 20px;
	width: 80%;
}
.options .value {
	float: right;
}

