svg {
	background: #ffffff;
}
path.line {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

path.area {
	fill: #e7e7e7;
}

.axis {
	shape-rendering: crispEdges;
}

.x.axis line {
	stroke: #ccc;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.x.axis path {
	stroke: black;
	fill: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

#stock path {
	fill: rgba(200, 200, 230, 0.5);
	stroke: rgba(180, 180, 180, 0.5);
}

#moving-average-graph path {
	fill: none;
	stroke: rgba(125, 0, 0, 0.5);
}

#bollinger-graph path {
	fill: rgba(220, 220, 220, 0.5);
	stroke: rgba(200, 200, 200, 0.7);
}